@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Luxerie";
    src: url("/fonts/Luxerie.otf") format("opentype"), url("/fonts/Luxerie.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Biondi Sans";
    src: url("/fonts/BiondiSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Biondi Sans";
    src: url("/fonts/BiondiSans-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
